<!-- header.html -->
<div th:fragment="chat">
    <!-- Khung chứa biểu tượng chat -->
    <div id="chatBox" class="chat-box">
        <!-- Nút thu gọn/mở rộng bên trong khung -->
        <div id="toggleButton" class="toggle-button">-</div>

        <div class="chat-item">
            <a href="https://oa.zalo.me/262829019064124420" target="_blank">
                <img th:src="@{/client/img/item/zalo-icon.png}" alt="Zalo">
            </a>
        </div>
        <div class="chat-item">
            <a href="https://t.me/hiennd16" target="_blank">
                <img th:src="@{/client/img/item/telegram-icon.png}" alt="Telegram">
            </a>
        </div>
    </div>
</div>


