<div th:fragment="confirmationModal">
    <div class="cd-popup" id="confirmationPopup" role="alert">
        <div class="cd-popup-container">
            <!-- Tiêu đề cảnh báo -->
            <div class="popup-header">
                <i class='fas fa-exclamation-circle' style='font-size:40px;color:red'></i>
                <h2 class="popup-title">Cảnh báo</h2>
            </div>
            <p>Xác nhận thay đổi !!!</p>
            <ul class="cd-buttons">
                <li><a href="javascript:void(0);" id="confirmNoBtn">Cancel</a></li>
                <li><a href="javascript:void(0);" id="confirmYesBtn">Yes</a></li>
            </ul>
            <a href="javascript:void(0);" class="cd-popup-close img-replace" id="closePopup">Close</a>
        </div> <!-- cd-popup-container -->
    </div>
</div>


<div th:fragment="alert">
    <div id="alertPopup" class="alert" style="display:none;">
        <span class="closebtn" onclick="closePopup()">&times;</span>
        <span class="popup-message">This is a message.</span>
    </div>
</div>




