<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký tài khoản</title>
    <link rel="stylesheet" th:href="@{/client/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/client/fontawesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/client/css/templatemo-style.css}">
    <link rel="icon" type="image/png" th:href="@{/client/img/item/icons.png}">
    <style>

    </style>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="img/hero.jpg"></div>

<div class="container-fluid tm-mt-60">
    <div class="row tm-mb-50">

    </div>

</div>

<div th:insert="fragments/footer :: footer"></div>

<script th:src="@{/client/js/plugins.js}"></script>
<script>
    $(window).on("load", function () {
        $('body').addClass('loaded');
    });
</script>
</body>
</html>